# Sitrec shared.env configuration file for installation specific settings
# using in JS code like: process.env.MAPBOX_TOKEN
# and in PHP code like: getenv('MAPBOX_TOKEN')
# variables not used by JS will not be in the JS environment

# If no terrain server is available, set this to true
# NO_TERRAIN=true

# If you don't want to use the docs on github, then set this to true
# For example, if you have a local copy of the docs that is fixed to a specific version
# or you can't access the internet from the server
LOCAL_DOCS=false

# Name of the local development server, like "localhost" or "local.metabunk.org"
# the latter form is preferred so you can use referrer based authentication
# For example, with MapTiler, or S3 CORS
LOCALHOST="local.metabunk.org"

# optional banners above and below the browser window
#BANNER_ACTIVE=true
BANNER_TOP_TEXT="NOTIFICATION MESSAGE"
BANNER_BOTTOM_TEXT="NOTIFICATION MESSAGE"
BANNER_COLOR=#FFFFFF
BANNER_BACKGROUND_COLOR=#377e22
BANNER_HEIGHT=20
BANNER_TEXT_HEIGHT=16
BANNER_FONT="Arial"

# Override version number, which will prevent fetching it from git (like if you are building from a zip)
# I suggest if you do this, you still include the tag/release from GitHub that you used.
#VERSION=Custom-0.1.0

# Default to using the ESRI server for the map tiles for fresh installs
# because it doesn't require an API key or local caching, and so is most likely to work
# Production installs should set this to the server they want to use, like mapbox or maptiler
# Types are mapbox, maptiler, osm, eox, NRL_WMS, NRL_WMTS, RGBTest, GridTest, debug, ESRI
# This can be overridden on a per-sitch basis
DEFAULT_MAP_TYPE=ESRI

# Optional different default if using Docker (possible CORS issues)
DOCKER_MAP_TYPE=ESRI

# And for Elevation (previously default to the first one, which it still will do
# if you don't set this.
# if you don't want to use AWS, or have no internet access then
# use "Flat" or your own version of "Local"
# Flat is safe, just generates flat tiles
# See how "Local" is defined in this.elevationSources = (CNodeTerrainUI.js)
# you need the files in z/x/y format folder tree, with correct minZoom, maxZoom, and tileSize
DEFAULT_ELEVATION_TYPE=AWS_Terrarium
DOCKER_ELEVATION_TYPE=AWS_Terrarium

# Root path for Xenforo authentication (remove if not used)
XENFORO_PATH=/srv/www/metabunk.org/public_html/

# What file-saving systems are available
SAVE_TO_SERVER=true

# AWS S3 will override SAVE_TO_SERVER
SAVE_TO_S3=false

# SAVE_TO_LOCAL is in addition to one (or none) of the above
# But you could disable it if you don't want to allow the user to save to their local disk
SAVE_TO_LOCAL=true

# limit the size of files that can be uploaded to the server
MAX_FILE_SIZE_MB=99

# enable the chatbot (likely will want remove it for non-Metabunk installs)
# note for simple OpenAI, there's a key below
# it's not currently configurable for a custom LLM, but if you want then
# you can replace chatbot.php with your own.
CHATBOT_ENABLED=false

# If the platform model cannot be determined from inspecting the data
# then this model will be used
# if undefined (or not found in the models list in CNode3DObjects.js/ModelFiles)
# then it will use the default geometry (a sphere)
DEFAULT_PLATFORM_MODEL="MQ-9 (clean)"

# Set if we are allowed to use cookies for settings
SETTINGS_COOKIES_ENABLED=true

# Set if we can save the setting on the server
SETTINGS_SERVER_ENABLED=true

# Set if we can use the IndexedDB for settings
# SETTINGS_DB_ENABLED=true


# Set to true to use the CUSTOM_TLE below
# Like all SITREC_ prefixed vars, this is exposed as a client-side end var
# If set, it will call proxyStarlink.php with the date in YYYY-MM-DD format as the "request" parameter
# and the type=CUSTOM, like:
# /sitrecServer/proxyStarlink.php?request=2022-09-18&type=CUSTOM

# SITREC_USE_CUSTOM_TLE=true
SITREC_CUSTOM_TLE_MENU_NAME="Custom Satellite TLE"
SITREC_CUSTOM_TLE_TOOLTIP="Fetches Satellite TLE data for the specified date from Somewhere"

# server-side TLE settings as a PHP sprintf format string that will have day, month, year integers passed to it
# this calls the public Celestrak Starlink supplemental TLEs, with a faked date parameter
# Note that Celestrak does not actually support this parameter, so it will always return the current TLEs
# This is just a sample of how to set up a custom TLE source
CUSTOM_TLE="https://celestrak.org/NORAD/elements/supplemental/sup-gp.php?FILE=starlink&FORMAT=tle?FAKEDATE=%04d-%02d-%02d"

# if you have a more complex TLE source, you can add a function
# getTLECustom() in config/config.php that returns the url string

# set this if you want it to cache the custom TLEs on the server
# as is done for space-track TLEs
# This is recommended if the source is slow or has rate limits, it will cache them permanently (one per date)
# CACHE_CUSTOM_TLE=true

# If you now don't need the default TLE sources (space-track and celestrak)
# then set this to false
SITREC_ENABLE_DEFAULT_TLE_SOURCES=true


########################################################################################
# Keys for external services [EXAMPLES ONLY, NON-WORKING, ADD YOUR OWN]

# Mapbox key is is server-side, so can be generic, useful for testing
MAPBOX_TOKEN=pk.eyJ1IjoibWlja3d...Y3MmY4aiJ9.HmBetO0y2IWeyI_p1cO5NA

# Maptiler key is used client-side, so should be domain locked
MAPTILER_KEY=cn...jBJvR

# Spacedata key is used server-side
SPACEDATA_USERNAME="com@m...t.com"
SPACEDATA_PASSWORD="M...T."

# AWS S3 keys are used server-side

S3_ACCESS_KEY_ID="A...D6"
S3_SECRET_ACCESS_KEY="G...yX"
S3_REGION="us-west-2"
S3_BUCKET="sitrec"
S3_ACL="public-read"

# OpenAI, used server-side
OPENAI_API="sk-proj-1F5snEN....L...mZDhEX"
